<div class="page_description">
  <p class="welcome">This service provides authority lookup for single terms and search for terms matching a query. It has been created as part of the
    <a href="http://ld4l.org" target="_blank">LD4L Labs project</a>, and is operated by
    <a href="http://www.library.cornell.edu/" target="_blank">Cornell University Library</a>
    in collaboration with the
    <a href="https://www.slis.uiowa.edu/" target="_blank">School of Library and Information Science, University of Iowa</a>.
    This work was funded through a grant from the <a href="https://mellon.org/" target="_blank">Andrew W. Mellon Foundation</a>.</p>
</div>
