<div class="page_description">

  <h2>List of Authorities:</h2>
  <p>See the <a href="<%= "#{main_app.root_path}authority_status" %>">Server Status</a> for a list of supported
    authorities and sample URLs for each authority.</p>

</div>
