/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.ld4l-identity .container {
    background: #303d4d none repeat scroll 0 0;
}

img.header-logo {
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 8px;
    height: 64px;
}

img.footer-logo {
    float: right;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    height: 32px;
}

footer {
    margin-top: 50px;
}

div#content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-top: 40px;
}

h4 {
    margin-top: 40px;
}

/* Banner */
.navbar-brand {
    margin-top: 18px;
}

.institution-name {
    color: whitesmoke;
    font-size: 2em;
    vertical-align: bottom;
}

div.navbar-header {
    width: 100%;
}

ul.nav_menu, ul.nav_right_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    width: 100%
}

ul.nav_menu li.left_menu {
    float: left;
}

ul.nav_menu li.right_menu {
    float: right;
}

ul.nav_menu li a, ul.nav_right_menu li a {
    display: inline-block;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav_menu li a:hover, ul.nav_right_menuli a:hover {
    background-color: dimgray;
}

/* homepage */
div.page_description {
    padding-bottom: 50px;
}

p.welcome {
    padding-top: 50px;
}

/* Status page */

div.wait-message {
    display: none;
    font-family: "Arial", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border: 1px solid #b30000;
    padding: 20px;
    text-align: center;
    background-color: #ffffe6;
    color: #4d0000;
    font-weight: bold;
    font-size: 1.1em;
}

div.status-section {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}
table, th, td {
    border: 1px solid darkgray;
    padding: 5px;
}

th {
    background-color: #222;
    color: white;
}
.status_good {
    text-align: center;
    background-color: #ccffcc;
}

.status_unknown {
    text-align: center;
    background-color: #ffff99;
}

.status_bad {
    text-align: center;
    background-color: #ffcccc;
}

